.footer{
    display: grid;
    align-items: center;
    max-width: 1600px;   
    justify-content: space-between;
    background-color: #202020;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-decoration: none;
    justify-content: center;
}

.container_footer{
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;   
    text-decoration: none;
}

.footer_contact{
    width: 100%;
    padding: 10px;
    text-decoration: none;
}
.footer_cotact a{
    text-decoration: none;
    padding: 2px 1px 0;

}

.footer_contact p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
    text-decoration: none;
}
.footer_contact img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    text-decoration: none;
}
.footer_contact a{
    text-decoration: none;
    color: #C7C7C7;
}
.footer_copy{
    display: block;
    padding: 20px;
    background-color: black; 
    text-decoration: none;  
}